<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta
        http-equiv="Content-Type" content="text/html"
        charset="UTF-8"/>
    <title>Getting Started: Serving Web Content</title>
  </head>
  <body>
    <p th:text="'Hello, ' + ${name} + '!'" />
  </body>
</html>